.inlineLink {
  box-sizing: border-box;
  display: inline;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.icon {
  display: inline-block;
  margin-left: 2px;
  vertical-align: -0.12em;
}
