---
interface Props {
  text: string;
  href: string;
  external?: boolean;
}

const { text, href, external } = Astro.props;
---

{
  external ? (
    <a class="post-link" href={href} target="_blank">
      {text}
      <img
        src="/externalLinkIcon.svg"
        alt="Opens in new tab"
        width="15"
        height="15"
        class="svg-icon"
      />
    </a>
  ) : (
    <a class="post-link" href={href}>
      {text}
      <img
        src="/rightArrowIcon.svg"
        alt="Opens in the same tab"
        class="svg-icon"
      />
    </a>
  )
}

<style lang="scss">
  @use "../style/mixins" as *;

  .post-link {
    display: flex;
    max-width: 70%;
    gap: 6px;
    align-items: center;
    width: fit-content;
    padding: var(--link-padding);
    border-radius: var(--border-radius-bg);
    box-sizing: border-box;

    @include aero-button-light(true);
  }

  html.dark .post-link {
    @include aero-button-dark(true);
  }
</style>
