---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { getAllCollections } from "../../helpers/getAllCollections";

export function getStaticPaths() {
  const collections = getAllCollections().map((dir) => ({
    params: {
      collection: dir,
    },
  }));
  return collections;
}

const { collection } = Astro.params;
const posts = await getCollection(collection);
---

<BaseLayout title={posts[0].collection}>
  <div class="bordered-list">
    {
      posts.map((post) => (
        <a href={`${post.collection}/${post.slug}`}>{post.data.title}</a>
      ))
    }
  </div>
</BaseLayout>
