---
import BaseLayout from "@/astro/BaseLayout.astro";
import Tag from "@/astro/Tag.astro";
import { getAllCollectionNames } from "@/getAllCollectionNames";
import type { textRowType, linkRowType } from "@/content/collectionSchema";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const allCollections = await Promise.all(
    getAllCollectionNames().map((name) => getCollection(name)),
  );
  return allCollections
    .flat()
    .filter((post) => post.data.published)
    .map((post) => ({
      params: { collection: post.collection, slug: post.id },
      props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout title={post.data.title}>
  <div class="section">
    <h1>
      {post.data.title}
    </h1>
  </div>

  <div class="section">
    {
      post.data.rows?.map((row) => {
        return (
          <>
            <h2>{row.title}</h2>
            <div class="items">
              {row.items.map((item) => {
                if (row.type === "text") {
                  return <Tag text={item as textRowType} />;
                } else if (row.type === "links") {
                  return (
                    <Tag
                      text={(item as linkRowType).text}
                      href={(item as linkRowType).href}
                    />
                  );
                }
              })}
            </div>
          </>
        );
      })
    }
  </div>

  {
    post.data.description ? (
      <div class="section">
        <h2>Description</h2>
        <p class="prose">{post.data.description}</p>
      </div>
    ) : null
  }

  <div class="markdown">
    <Content />
  </div>
</BaseLayout>

<style>
  h1 {
    font-size: 18px;
  }

  .prose {
    font-family: "Inter Variable", sans-serif;
  }

  .markdown {
    p {
      font-family: "Inter Variable", sans-serif;
      margin: 10px 0 10px 0;
    }
  }

  .section {
    margin-bottom: var(--separation-margin);
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
</style>
