ol:has(> .contentListItem) {
  counter-reset: content-list-item;
}

.contentListItem {
  --list-marker-gap: 1ch;
  --list-marker-width: 2ch;

  position: relative;
  margin-left: calc(var(--list-marker-width) + var(--list-marker-gap));
  padding-left: 0;
  list-style: none;
  text-indent: 0;
}

.contentListItem::before {
  position: absolute;
  right: calc(100% + var(--list-marker-gap));
  display: inline-block;
  width: var(--list-marker-width);
  text-align: right;
  visibility: visible;
}

.contentListItem > :global(code) {
  font-size: calc(var(--font-size) * 0.95);
  background: var(--theme-border);
  border: solid 1px var(--theme-border-subdued);
}

ul > .contentListItem::before {
  content: "▪";
}

ol > .contentListItem {
  counter-increment: content-list-item;
}

ol > .contentListItem::before {
  content: counters(content-list-item, ".") ".";
}
