---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const artPosts = await getCollection("art");
---

<BaseLayout title="art">
  <ul>
    {
      artPosts.map((post) => (
        <li>
          <a href={`art/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
