---
import BaseLayout from "@/astro/BaseLayout.astro";

const src = "https://ik.imagekit.io/xqhypdkfa/owr/bliss-hardware.png";
---

<BaseLayout title="BACK SOON">
  <h1>404</h1>
  <p>Are you lost?</p>
  <img
    src={`${src}/tr:w-600`}
    alt="Bliss artwork"
    loading="eager"
    srcset={`
${src}/tr:w-600,q-100 600w,
${src}/tr:w-1200,q-100 1200w
      `}
    sizes="(max-width: 768px) 90vw, 600px"
  />
</BaseLayout>

<style>
  h1 {
    font-size: 32px;
  }

  p {
    margin-bottom: 10px;
  }

  img {
    width: 100%;
    height: auto;
  }
</style>
