---
import BaseLayout from "@/astro/BaseLayout.astro";

const src = "https://ik.imagekit.io/xqhypdkfa/owr/bliss-hardware.png";
---

<BaseLayout title="BACK SOON">
  <h1>404 Not Found</h1>
  <p>Are you lost?</p>
  <img
    src={`${src}/tr:w-1200`}
    alt="Bliss artwork"
    loading="eager"
    sizes="(max-width: 768px) 90vw, 600px"
  />
</BaseLayout>

<style>
  h1 {
    font-size: 42px;
  }

  p {
    margin-bottom: 12px;
  }

  img {
    width: 100%;
    height: auto;
    border: 1px solid rgba(100, 100, 100, 0.4);
  }
</style>
