---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <div class="bordered-list labelled">
    <h2>ONLINE</h2>
    <div>
      <a href="#">github</a>
      <a href="#">x / twitter</a>
      <a href="#">artstation</a>
    </div>
    <h2>CONTACT</h2>
    <p>hello@junaydbhoyroo.com</p>
  </div>
</BaseLayout>
