---
import BaseLayout from "@/astro/BaseLayout.astro";

const src =
  "https://ik.imagekit.io/xqhypdkfa/explorers-room/initial_blockout.png";
---

<BaseLayout title="BACK SOON">
  <h1>Back soon</h1>
  <p>This site is under maintenance.</p>
  <img
    src={`${src}/tr:w-600`}
    alt="Wireframes"
    loading="eager"
    srcset={`
${src}/tr:w-600,q-100 600w,
${src}/tr:w-1200,q-100 1200w
      `}
    sizes="(max-width: 768px) 90vw, 600px"
  />
</BaseLayout>

<style>
  h1 {
    font-size: 32px;
  }

  p {
    margin-bottom: 10px;
  }

  img {
    width: 100%;
    height: auto;
  }
</style>
