---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
---

<BaseLayout title="BACK SOON">
  <h1>Back soon</h1>
  <p>This site is under maintenance.</p>
  <Image
    src="https://ik.imagekit.io/xqhypdkfa/explorers-room/initial_blockout.png"
    alt="Wireframes"
    inferSize
    loading="eager"
  />
</BaseLayout>

<style lang="scss">
  h1 {
    font-size: 32px;
  }

  p {
    margin-bottom: 10px;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
  }
</style>
