---
// import { getAllCollectionNames } from "@helpers/getAllCollectionNames";

// const pages = getAllCollectionNames();
---

<nav>
  <a href="/">JUNAYD BHOYROO</a>
  <!-- <div> -->
  <!--   {pages.map((page) => <a href={`/${page}`}>{page.toUpperCase()}</a>)} -->
  <!-- </div> -->
</nav>

<style lang="scss">
  nav {
    display: flex;
    margin-bottom: var(--separation-margin);
    padding: var(--border-width);
    justify-content: space-between;
    align-items: center;
    div {
      display: flex;
      gap: var(--border-width);
      background-color: var(--primary-colour);
    }
  }
</style>
