---
const pages = ["dev", "art"];
---

<nav>
  <a href="/">JUNAYD BHOYROO</a>
  <div>
    {pages.map((page) => <a href={`/${page}`}>{page}</a>)}
  </div>
</nav>

<style lang="scss">
  @use "../style/global.scss";

  nav {
    display: flex;
    margin-bottom: var(--separation-margin);
    padding: var(--border-width);
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-colour);
    text-transform: uppercase;
    div {
      display: flex;
      gap: var(--border-width);
      background-color: var(--primary-colour);
    }
    a {
      @extend .bordered-list-link;
      flex-grow: 0;
    }
  }
</style>
