.root {
  display: inline-block;
  min-height: calc(
    var(--theme-line-height-base, 1.25) * var(--font-size, 1rem)
  );
  padding: 0 1ch;
  margin: 0;
  font-family: var(--font-family-mono);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
  background: var(--theme-border, rgba(120, 120, 120, 0.2));
  border: 0;
  outline: 0;
  transition: 200ms ease all;
}
