:root {
  --primary-colour: #222;
  --accent-colour: #c5f6f0;
  --border-radius-bg: 6px;
  --link-padding: 6px 12px 6px 12px;
  --separation-margin: 30px;
  --heading-margin: 6px;
}

* {
  color: var(--primary-colour);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: inherit;
  text-decoration: none;
  list-style-type: none;
  text-overflow: ellipsis;
}

::selection {
  background: var(--accent-colour);
}

html {
  background: linear-gradient(180deg, rgb(240, 240, 240) 25%, hsl(173, 36, 60));
  min-height: 100%;
}

body {
  margin: auto;
  width: 80%;
}

footer {
  height: 28px;
}

h2 {
  font-size: 13px;
  margin-bottom: var(--heading-margin);
  text-transform: capitalize;
}

p,
a {
  font-size: 15px;
}

@media (min-width: 768px) {
  body {
    width: 650px;
  }
}
