:root {
  --primary-colour: rgb(220, 220, 220);
  --secondary-colour: rgb(10, 10, 10);
  --accent-colour: #ff0000;
  --border-radius: 1px;
  --border-radius-bg: 6px;
  --link-padding: 8px 12px 8px 12px;
  --separation-margin: 22px;
  --heading-margin: 6px;
  --inset-margin: 8px;
}

* {
  color: var(--primary-colour);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono";
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  list-style-type: none;
  text-overflow: ellipsis;
}

::selection {
  background: var(--accent-colour);
}

body {
  margin: auto;
  margin-top: 4vh;
  width: 90%;
  background-color: var(--secondary-colour);
}

footer {
  height: 28px;
}

h2 {
  font-size: 13px;
  margin-bottom: var(--heading-margin);
  text-transform: capitalize;
}

p,
a {
  font-size: 14px;
  line-height: 1.4rem;
}

/* Width > 640px */
@media (min-width: 768px) {
  * {
    font-size: 15px;
  }

  body {
    width: 600px;
  }
}
