---
import BaseLayout from "./BaseLayout.astro";
import type { ArtCollectionSchema } from "src/schemas/schemas";

interface Props {
  frontmatter: ArtCollectionSchema;
}

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <div>
    <p>publshed on: {frontmatter.publishDate}</p>
    <p>software: {frontmatter.softwareList}</p>
  </div>
</BaseLayout>
