---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("dev");
---

<BaseLayout title={posts[0].collection}>
  <div>
    {
      posts.map((post) => (
        <a href={`${post.collection}/${post.id}`} data-astro-prefetch="hover">
          {post.data.title}
        </a>
      ))
    }
  </div>
</BaseLayout>
